.App {
  text-align: center;

  /* display: flex;

  
  justify-content: center;
  background-position: center; */

  /* background-image: url(images/step_0.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1200px 600px; */
}

footer {
  margin-top: 0;
  margin-bottom: 5px;
}

#blanks {
  color: darkblue;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 3rem;
  padding: 0;
  margin: 50px;
}

body {
  margin: 0;
}

header {
  font-size: 50px;
  padding: 0;
  margin: 0;
  color: lightskyblue;
}

button {
  margin: 0 5px;
  padding: 5px 15px;
  border-radius: 5px;
}

span {
  display: flex;
  justify-content: space-around;
}

.background {
  height: 75vh;
  width: 100vh;
}
